/* TRACK TRAIN */
#alert{
    display: flex;
    background: #e9e9e9
}

/* <--- Main Content ---> */
.mainContent{
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;
}

/* <--- Alert Box ---> */
.mainContent .box{
    background: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    position: relative;
    margin-bottom: 1rem;
}

.box .boxHeader{
    width: 40%;
    margin: 1rem auto;
}

.box .boxHeader span{
    border: 1px solid #00214d;
    display: block;
    width: 100%;
}

.box .boxContent{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}

.box .boxContent .alertBox{
    width: 100%;
    padding: 0.5rem 1rem;
    border: 2px solid;
    border-left: 8px solid;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4rem;
}

.box .boxContent .alertBox.warn{
    border: 2px solid #ef9b0f;
    border-left: 8px solid #ef9b0f;
}

/* .box .boxContent .alertBox.success{
    border: 2px solid darkgreen;
    border-left: 8px solid darkgreen;
    background: #30cc3473;
}

.box .boxContent .alertBox.warn{
    border: 2px solid #ef9b0f;
    border-left: 8px solid #ef9b0f;
    background: #fff77d94;
}

.box .boxContent .alertBox.danger{
    border: 2px solid #b70000;
    border-left: 8px solid #b70000;
    background: #e9636469;
} */

.box .boxContent .alertBox.danger{
    border: 2px solid #b70000;
    border-left: 8px solid #b70000;
}
.box .boxContent .alertBox.success{
    border: 2px solid darkgreen;
    border-left: 8px solid darkgreen;
}

.box .boxContent .alertBox.warn span{
    color: #ef9b0f;
}

.box .boxContent .alertBox.danger span{
    color: #b70000;
}

.box .boxContent .alertBox.success span{
    color: darkgreen;
}

.box .boxContent .alertBox span i{
    font-size: 2.5rem;
}

.box .boxContent .alertBox .head{
    font-size: 20px;
    font-weight: 800;
}

.box .boxContent .alertBox .msgContent{
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
}