.mainContent .headerWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background: #fff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}

.headerWrapper .headerTitle{
    color: #00214d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
}

.headerWrapper .headerTitle #menuBtn i{
    font-size: 30px;
    cursor: pointer;
}

.headerWrapper .userInfo{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.userInfo .searchBox{
    background: rgb(237, 237, 237);
    border-radius: 15px;
    color: rgba(113, 99, 186, 255);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 12px;
}

.searchBox input{
    background: transparent;
    border: none;
    padding: 10px;
}

.searchBox i{
    font-size: 1.2rem;
    cursor: pointer;
    transition: all ease 0.5s
}

.searchBox i:hover{
    transform: scale(1.2);
}

.headerWrapper .userInfo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
