/* <--- Side Menu ---> */
.sideMenu{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100px;
    padding: 0 1.5rem;
    color: aliceblue;
    background: #00214d;
    border: none;
    outline: none;
    border-radius: 0 30px 30px 0;
    overflow: hidden;
    transition: all ease 0.5s;
    z-index: 2;
}

.sideMenu:hover{
    width: 250px;
}

.sideMenu .logo{
    height: 80px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
}

.sideMenu .menu{
    /* position: relative; */
    list-style: none;
    padding: 0;
}

.sideMenu .menu li{
    padding: 1rem;
    margin: 8px 0;
    border-radius: 10px;
    transition: all ease-in-out 1s;
}

.sideMenu .menu li:hover,
.sideMenu .active{
    /* font-size: 20px; */
    background: rgba(240, 255, 255, 0.346);
}

.sideMenu .menu li a{
    color: aliceblue;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.sideMenu .menu a span{
    overflow: hidden;
}

.sideMenu .menu a i{
    font-size: 1.5rem;
}

.sideMenu .menu .logout{
    /* position: absolute; */
    /* bottom: 0; */
    /* left: 0; */
    width: 100%;
}

